:root {
    --darkgrey: #222831;
    --turquoise: #76ABAE;
    --whitegrey: #EEEEEE;
    --lightgrey: #31363F;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--darkgrey);
}

header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: var(--darkgrey);
    padding: 0 2rem;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.logo-desktop {
    display: block;
}

.logo-mobile {
    display: none;
}

header>a {
    margin-right: 2rem;
}

nav {
    display: flex;
    flex: 1;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: var(--whitegrey);
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    white-space: nowrap;
    transition: color 0.3s ease;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    color: var(--turquoise);
}

.about-us {
    margin-left: auto;
    list-style: none;
    position: relative;
}

.dropdown {
    position: relative;
    list-style: none;
    display: inline-block;
}

.dropdown a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: var(--whitegrey);
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    white-space: nowrap;
}

.dropdown .arrow {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}

.dropdown:hover .arrow {
    transform: rotate(0deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: var(--darkgrey);
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    min-width: 6rem;
    text-align: center;
}

.dropdown-menu li {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 12px 12px;
    transition: background 0.3s ease;
}

.dropdown-menu a:hover {
    background: var(--lightgrey);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-menu li {
    opacity: 1;
    transform: translateY(0);
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--whitegrey);
    cursor: pointer;
}

.welcome-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 65px);
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.welcome-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.welcome-text {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.welcome-text h1 {
    font-size: 3rem;
}

.section-divider {
    height: 5rem;
    background: var(--darkgrey);
    width: 100%;
    margin: 0;
}

.news-section {
    background: var(--turquoise);
    height: calc(100vh - 120px);
    margin-left: 7rem;
    padding: 2rem;
    color: var(--darkgrey);
}

.news-section h2 {
    text-transform: uppercase;
    font-size: 3rem;
    margin: 0 0 1rem;
    font-weight: bold;
}

.news-item {
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
    border-radius: 8px;
    color: var(--whitegrey);
}

.news-date {
    background: var(--darkgrey);
    width: 6rem;
    height: 4rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
}

.news-date .day {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

.news-date .month {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
}

.news-content h3 {
    margin: 0;
    font-size: 1.6rem;
}

.news-content p {
    margin: 0.3rem 0 0;
    font-size: 1.2rem;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .dropdown-menu {
        left: auto;
        right: 50%;
        transform: translateX(50%);
    }

    .welcome-text h1 {
        font-size: 2.8rem;
    }

    .news-date {
        background: var(--darkgrey);
        width: 5rem;
        height: 3.5rem;
        padding: 0.5rem 0.5rem;
        border-radius: 5px;
        align-items: center;
        text-align: center;
        margin-right: 1rem;
    }

    .news-date .day {
        display: block;
        font-size: 1.8rem;
        font-weight: bold;
    }

    .news-date .month {
        display: block;
        font-size: 0.9rem;
        text-transform: uppercase;
    }

    .news-content h3 {
        margin: 0;
        font-size: 1.26rem;
    }

    .news-content p {
        margin: 0.3rem 0 0;
        font-size: 1.0rem;
    }
}

@media (max-width: 1024px) {
    .logo-desktop img {
        height: 20px;
        width: auto;
    }

    header {
        flex-direction: row;
        padding: 0 2rem;
    }

    .nav-links {
        gap: 3rem;
    }

    nav a {
        padding: 0;
        font-size: 0.8rem;
    }

    .about-us a {
        padding: 8px;
        font-size: 0.8rem;
    }

    .welcome-container {
        height: calc(100vh - 60px);
    }

    .welcome-text h1 {
        font-size: 2.1rem;
    }
}

@media (max-width: 880px) {
    .logo-desktop img {
        height: 18px;
        width: auto;
    }

    header {
        flex-direction: row;
        padding: 0 2rem;
    }

    .nav-links {
        gap: 2.5rem;
    }

    nav a {
        padding: 0;
        font-size: 0.8rem;
    }

    .about-us a {
        padding: 8px;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        padding: 1rem;
        width: 100%;
        box-sizing: border-box;
    }

    .logo-desktop {
        display: none;
    }

    .logo-mobile {
        display: block;
        margin-right: auto;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: var(--darkgrey);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .menu-toggle:checked+.hamburger+nav {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        gap: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        padding: 10px 0;
    }

    .about-us {
        gap: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .dropdown-menu {
        position: relative;
        transform: none;
        left: 0;
        width: 100%;
        border-radius: 0;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
        color: var(--whitegrey);
        cursor: pointer;
        margin-left: auto;
    }

    .menu-toggle {
        display: none;
    }

    .welcome-text h1 {
        font-size: 2rem;
    }

    .news-date {
        background: var(--darkgrey);
        width: 5rem;
        height: 3rem;
        padding: 0.5rem 0.5rem;
        border-radius: 5px;
        align-items: center;
        text-align: center;
        margin-right: 1rem;
    }

    .news-date .day {
        display: block;
        font-size: 1.6rem;
        font-weight: bold;
    }

    .news-date .month {
        display: block;
        font-size: 0.9rem;
        text-transform: uppercase;
    }

    .news-content h3 {
        margin: 0;
        font-size: 1.2rem;
    }

    .news-content p {
        margin: 0.3rem 0 0;
        font-size: 0.8rem;
    }

}