@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --darkgrey: #222831;
  --turquoise: #76ABAE;
  --whitegrey: #EEEEEE;
  --lightgrey: #31363F;
}

* {
  font-family: "Archivo Narrow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  padding: 0;
  padding-top: 1.5rem;
  margin: 0;
  background-color: var(--darkgrey);
}

.news-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--darkgrey);
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.news-notification.fade-out {
  opacity: 0;
  transform: translateY(20px);
}